<div class="row justify-content-center">
    <div class="col-auto">

        <table class="table table-responsive table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">User Name</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row">
                        <a [routerLink]="['/users/getUserDetails',user.id]">
                            {{user.id}}
                        </a>
                    </th>
                    <td>{{user.userName}}</td>
                    <td><button (click)="deleteUser(user)" type="button" class="close" aria-label="Close"
                            data-toggle="tooltip" data-placement="right" title="Delete user">
                            <span aria-hidden="true">&times;</span>
                        </button></td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
<br>
<div class="row justify-content-center">
    <span class="text-danger font-weight-bold" *ngIf="errorMessage">{{errorMessage}}</span>
</div>
<div class="row justify-content-center">
    <span class="text-success font-weight-bold" *ngIf="successMessage">{{successMessage}}</span>
</div>