<div class="row justify-content-center">
  <div class="col-auto">
    <table class="table table-condensed">
      <tr>
        <th>User Id:</th>
        <td>{{user.id}}</td>
      </tr>
      <tr>
        <th>User Name:</th>
        <td>{{user.userName}}</td>
      </tr>
      <tr>
        <th>Age:</th>
        <td>{{user.age}}</td>
      </tr>
      <tr>
        <th>Salary:</th>
        <td>{{user.salary}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto">
    <button class="btn btn-primary btn-sm" (click)="goBack()">Back</button>
  </div>
</div>